
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Merienda);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


body{
/*  background-image: url('https://edecorati.com/data/out/44/lotus-wallpapers_291471540.jpg');
  background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
}


.Willow {
  margin: 0% 70%;
  font-family: 'Dancing Script', cursive;
  font-size: 88px;
  position: relative left;
  /*text-shadow: 5px 5px 10px blue;*/
}

p {
  font-family: 'Merienda', cursive;
}

form{
  font-family: 'Merienda', cursive;
}

div {
/*  margin: auto;
  width: 50%;*/
  padding: 10px;
}

.Login {
  width: 250px;
}

input {
  border-radius: 5px;

  font-size: 20px;
  width: 70%;
  background-color: rgba(173, 216, 230, 0.4);
  font-family: 'Merienda', cursive;

}


button {
  font-size: 20px;
  /*color: yellow;*/
  border-radius: 10px;
/*  padding: 7px;
  box-shadow: 2px 2px 2px lightyellow;
  background: rgba(255, 192, 203, 0.4);
  border: 1px outset yellow;
  font-family: 'Great Vibes', cursive;*/
}

li {
    background: rgba(0, 160, 19, 0.3);
    padding: 15px; 
    margin: 15px;
    border-radius: 10px;
    border: solid 1px thistle;
    /*box-shadow: 5px 5px 10px hotpink;*/
    width: 80%;
    height: 80%;
    list-style: none;
}



ul {
  list-style: none;
}

a{
  text-decoration: none;
  text-shadow: none;
  font-weight: bold;
}

.BadPeople {
      background: rgba(0, 160, 19, 0.3);
      padding: 1em; 
      margin: 20px;
      border-radius: 10px;
      border: solid 3px thistle;
      box-shadow: 4px 10px 10px black;
      width: 80%;
      height: 80%;
      list-style: none;
}



textarea {
  width: 450px;
  height: 200px;
  border-radius: 10px;
/*  box-shadow: 4px 10px 10px black;
  background: rgba(0, 160, 19, 0.3);
  border: none;
  font-family: 'Seaweed Script', cursive;
  font-size: 37px;*/
  padding: 15px;
}


/*button:hover{
  outline: none;
  background: rgba(255, 152, 203, 0.4)
}*/

textarea:focus{
  outline: none;
}

button:focus{
  outline: none;
}

input:focus{
  outline: none;
}

.labelChange {
  
}


.edit {
    background: rgba(0, 200, 200, 0.8);
    padding: 15px; 
    margin: 15px;
    border-radius: 10px;
    border: solid 1px yellow;
    width: 80%;
    height: 40%;
    top: 42%;
    /*left: 20%;*/
    position: fixed;
}

.exitButton {
  position: absolute;
  top: 5px;
  bottom: 10;
  right: 5px;
}
